APP_READ_ONLY=false
APP_NAME="Laravel Starter"
APP_ENV=local
APP_KEY=base64:nSvbPg2xLwsGYcDD48GmJcbmstw4zWj+/yppH1MxF4M=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_LOCALE_PHP=en_US
APP_TIMEZONE=UTC
LOG_CHANNEL=daily

DEBUGBAR_ENABLED=false
SINGLE_LOGIN=false

IMAGE_NAME=ls-www
PORT_NUMBER=8080

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=EduboatLMS2
DB_USERNAME=EduboatLMS
DB_PASSWORD=EduboatLMS@619

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=anandkumara30@gmail.com
MAIL_PASSWORD=@Nand10867
MAIL_ENCRYPTION=smtp
MAIL_FROM_ADDRESS=anandkumara30@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Access
ENABLE_REGISTRATION=true
CHANGE_EMAIL=false
PASSWORD_HISTORY=3
PASSWORD_EXPIRES_DAYS=30

# This should be one or the other, or neither
REQUIRES_APPROVAL=false
CONFIRM_EMAIL=false
#//

# Get your credentials at: https://www.google.com/recaptcha/admin
CONTACT_CAPTCHA_STATUS=false
REGISTRATION_CAPTCHA_STATUS=false
LOGIN_CAPTCHA_STATUS=false

INVISIBLE_RECAPTCHA_SITEKEY=
INVISIBLE_RECAPTCHA_SECRETKEY=
INVISIBLE_RECAPTCHA_BADGEHIDE=false
INVISIBLE_RECAPTCHA_DATABADGE='bottomright'
INVISIBLE_RECAPTCHA_TIMEOUT=5
INVISIBLE_RECAPTCHA_DEBUG=false

# Socialite Providers
FACEBOOK_ACTIVE=true
FACEBOOK_CLIENT_ID=1258069561383089
FACEBOOK_CLIENT_SECRET=7a7a77c43a960c90d0fb216a9ab043c5
FACEBOOK_REDIRECT=${APP_URL}/login/facebook/callback
#FACEBOOK_REDIRECT=http://127.0.0.1:8000/login/facebook/callback

BITBUCKET_ACTIVE=false
#BITBUCKET_CLIENT_ID=
#BITBUCKET_CLIENT_SECRET=
#BITBUCKET_REDIRECT=${APP_URL}/login/bitbucket/callback

GITHUB_ACTIVE=false
#GITHUB_CLIENT_ID=
#GITHUB_CLIENT_SECRET=
#GITHUB_REDIRECT=${APP_URL}/login/github/callback

GOOGLE_ACTIVE=true
GOOGLE_CLIENT_ID=481155791771-2p3mtavu32kc4drf3dbcol708nsuv83f.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT=${APP_URL}/login/google/callback
#GOOGLE_REDIRECT=http://127.0.0.1:8000/login/google/callback

LINKEDIN_ACTIVE=false
#LINKEDIN_CLIENT_ID=
#LINKEDIN_CLIENT_SECRET=
#LINKEDIN_REDIRECT=${APP_URL}/login/linkedin/callback

TWITTER_ACTIVE=false
#TWITTER_CLIENT_ID=
#TWITTER_CLIENT_SECRET=
#TWITTER_REDIRECT=${APP_URL}/login/twitter/callback
